<form>
    <mat-form-field appearance="outline">
        <mat-label>Filter Criteria</mat-label>
        <input matInput placeholder="Filter table" #filterInput>
    </mat-form-field>
    <button mat-button type="submit" (click)="onFilter(filterInput.value)">
        <app-seach-icon />
    </button>
</form>
<app-progress-spinner *ngIf="isLoading$ | async" />
<table mat-table [dataSource]="(tableData$ | async) || []" class="mat-elevation-z8" *ngIf="!(isLoading$ | async)">
    <!-- Position Column -->
    <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element">
            @if (!element.editing) {
            {{element.name}}
            } @else {
            <mat-form-field>
                <input matInput [(ngModel)]="editedRows[element.position].name" required type="text" minlength="3">
            </mat-form-field>
            }
        </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="weight">
        <th mat-header-cell *matHeaderCellDef> Weight </th>
        <td mat-cell *matCellDef="let element">
            @if (!element.editing) {
            {{element.weight}}
            } @else {
            <mat-form-field>
                <input matInput [(ngModel)]="editedRows[element.position].weight" required min="0.1" type="number" />
            </mat-form-field>
            }
        </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="symbol">
        <th mat-header-cell *matHeaderCellDef> Symbol </th>
        <td mat-cell *matCellDef="let element">
            @if (!element.editing) {
            {{element.symbol}}
            } @else {
            <mat-form-field>
                <input matInput [(ngModel)]="editedRows[element.position].symbol" required type="text" minlength="1">
            </mat-form-field>
            }
        </td>
    </ng-container>

    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let element">
            @if (!element.editing) {
            <button mat-button (click)="editRow(element)">Edit</button>
            } @else {
            <button type="submit" mat-button (click)="saveRow(element)">Save</button>
            <button mat-button (click)="cancelEdit(element)">Cancel</button>
            }
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsNames"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsNames;"></tr>
</table>